
.amicon-arrow-left:before {
    content: "\e900";
  }
  .amicon-arrow-right:before {
    content: "\e901";
  }
  .amicon-bicycle:before {
    content: "\e902";
  }
  .amicon-bus:before {
    content: "\e903";
  }
  .amicon-car:before {
    content: "\e904";
  }
  .amicon-check:before {
    content: "\e905";
  }
  .amicon-circle-check:before {
    content: "\e906";
  }
  .amicon-copy:before {
    content: "\e907";
  }
  .amicon-home:before {
    content: "\e908";
  }
  .amicon-sleep:before {
    content: "\e909";
  }
  .amicon-user-edit:before {
    content: "\e90a";
  }
  .amicon-user-group:before {
    content: "\e90b";
  }
  