@use 'sass:math'; 

.teamNotification {
    @extend %helpers-absolute-overlay;
    z-index: 5;
    overflow: hidden;
    background: rgba(#000000, .15);
    opacity: 0;
    visibility: hidden;
    transition: $transition-fast;

    
    $oneight : math.div($container-width, 8);
    $max-width : #{$oneight*3};

    .is-team-created & {
        opacity: 1;
        visibility: visible;
    }
    
    &__inner {
        display: flex;
        height: 100%;
        width: 50%;
        margin-left: auto;
        background: $color-primary;
        padding-left: math.div($container-width, 8);
        padding-top: 60px;
        padding-bottom: 60px;
        transform: translateX(100%);
        transition: $transition-primary 120ms;

        .is-team-created & {
            transform: translateX(0);
        }
    }

    .landingpage__body,
    .landingpage__actions {
        max-width: $max-width;
    }
    
    &__result {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 40px;
        
        .label {
            font-size: 12px;
            color: $color-light-blue;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            display: flex;
            width: 100%;
            line-height: 20px;
        }
        
        .holder {
            display: inline-flex;
            padding: 3px 0 3px 8px;
            background: rgba(#ffffff, .15);
            width: auto;
            align-items: center;
            font-size: 20px;
            line-height: 20px;
            max-width: 100%;
            gap: 8px;
            position: relative;

            .copy-message {
                position: absolute;
                right: 100%;
                font-size: 14px;
                line-height: 20px;
                white-space: nowrap;
                padding: 8px;
                background: rgba(#000000, .85);
                top: 0;
                transform: translateX(10px);
                margin-right: 10px;
                opacity: 0;
                visibility: hidden;
                transition: $transition-fast;

                &.is-shown {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }
            
            button {
                background: no-repeat;
                border: 0;
                outline: none;
                padding: 5px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    opacity: .7;
                }

                &:focus,
                &:active {
                    opacity: 1;
                    background-color: rgba(#000000, .35);
                }
            }
            
            .string {
                flex: 1;
                display: block;
                overflow: hidden;
                max-width: $max-width;
                text-overflow: ellipsis;
            }
        }
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        flex-direction: column;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 0;
        outline: 0;
        z-index: 2;
        background: no-repeat;
        font-size: 0;
        
        &:before,
        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        
        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        
        &:after {
            transform: translate(-50%, -50%) rotate(135deg);
        }
        
        &:hover {background: rgba(0,0,0,0.2);}
    }
}